/RobotMap.h~
/RobotMap.cpp~
/Robot.h~
/Robot.cpp~
/org.eclipse.cdt.managedbuilder.core.prefs~
/OI.h~
/OI.cpp~
/language.settings.xml~
/drive.h~
/drive.cpp~
/Chassis.h~
/Chassis.cpp~
/SlideRight.h~
/SlideRight.cpp~
/SlideOff.h~
/SlideOff.cpp~
/SlideLeft.h~
/SlideLeft.cpp~
/Slide.h~
*.cpp~
/PneIntank.h~
/intakeOut.h~
/intakeOut.cpp~
/intakeOn.h~
/intakeOn.cpp~
/intakeOff.h~
/intakeOff.cpp~
/intakeIn.h~
/intakeIn.cpp~
*.h~
